<div class="container">

<h1>💗 Todo List</h1>

<div class="addBox">
<input [(ngModel)]="newTodo" placeholder="Enter task">
<button (click)="addTodo()">Add</button>
</div>

<ul>

<li *ngFor="let todo of todos">

<div *ngIf="editId !== todo.id">

<span>{{todo.text}}</span>

<button class="edit" (click)="startEdit(todo)">Edit</button>
<button class="delete" (click)="deleteTodo(todo.id)">Delete</button>

</div>

<div *ngIf="editId === todo.id">

<input [(ngModel)]="editText">
<button class="save" (click)="updateTodo()">Save</button>

</div>

</li>

</ul>

</div>

<footer>
  <p>Made with 💗 by Siphosethu Msengeni</p>
  <p class="year">© 2026 | Todo App</p>
</footer>